
.btn{
    &,
    &:link,
    &:visited{
        cursor: pointer;
        display: inline-block;
        padding: 0.625rem 2.5rem;  // 10px 40px
        text-decoration: none;
        font-size: 1rem; //16px
        text-transform: uppercase;
        border: 0px;
        border-radius: 6.25rem; //100px
        transition: all .4s ease-in-out;
        position: relative;
    }

    &-white{                      // btn-white
        background-color: $color-white;
        color: $color-grey-dark;

        // &::before{
        //     background-color: $color-white;
        // }

        // &:hover{  // btn-white:hover
        //     transform: translateY(-0.625rem); // -10px
        //     box-shadow: 0 0.625rem 1.25rem rgba($color-dark,.2); // 10px 20px 
        // }
    }

    &-green{                    
        background-color: $color-primary-dark;
        color: $color-white;

        // &::before{
        //     background-color: $color-primary-dark;
        // }

        // &:hover{  // btn-green:hover
        //     transform: translateY(-0.625rem); // -10px
        //     box-shadow: 0 0.625rem 1.25rem rgba($color-dark,.2); // 10px 20px 
        // }
    }

    &::before{
        content: '';
        background-color: inherit;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 6.25rem; //100px
        z-index: -1; 
        transition: all .4s ease-in-out;
    }

    &:hover,&:focus{   //.btn:hover
        transform: translateY(-0.188rem); // -3
        box-shadow: 0 0.625rem 1.25rem rgba($color-dark,.2); // 10px 20px 

        &::before{   //.btn:hover::before
            transform: scale(1.5);
            opacity: 0;
        }
    }

    

    &:active{
        transform: translateY(-0.063rem); //-1px
        box-shadow: 0 0.313rem 0.625rem rgba($color-dark,.2); // 5px 10px
    }

    &-text{       // .btn-text
        &,
        &:link,
        &:visited{
            font-size: 1rem; // 16px
            color: $color-primary;
            display: inline-block;
            border-bottom: 1px solid;
            text-decoration: none;
            padding: 0.313rem; // 5rem
            text-transform: capitalize;
            transition: all .2s ease-in-out;

        }

        span{
            display: inline-block;
        }

        &:hover, :focus{
            transform: translateY(-3px);
            background-color: $color-primary;
            color: $color-white;
            box-shadow: 0 0.625rem 1.25rem rgba($color-dark,.2); // 10px 20px

            span{
                transform: translateX(3px);
            }
        }

        &:active{
            transform: translateY(-1px);
            box-shadow: 0 0.313rem 0.625rem rgba($color-dark,.2); // 5px 10px
        }
    }
}