
@mixin atCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin lg($direction, $color...){
    background-image: linear-gradient($direction, $color);
}

@mixin backgroundclip{
    background-clip:text ;
    color: transparent;
}