
.header{
    height: 95vh;
    background-image: linear-gradient(135deg,$color-primary-light-opc,$color-primary-dark-opc),
    url("../images/hero.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    clip-path: polygon(0 0,100% 0,100% 75%,0 100%);
    position: relative;
    flex-direction: column;
    @include atCenter;
   
    .logo{
        width: 7.5rem; //120px
        position: absolute;
        top: 2.5rem; //40px
        left: 2.5rem; //40px

        img{
            width: 100%;
        }
    }

    &-primary{  //.header-primary
        color:$color-white;
        text-transform: uppercase;
        margin-bottom: 3.125rem; // 50px

        &-main{  //.header-primary-main
            font-size: 3.75rem;  //60px
            letter-spacing: 2.188rem; // 35px
            font-weight: 400;
            animation: moveInRight 1s ease-in-out;

        }
    
        &-sec{  // .header-primary-sub
            font-size: 1.25rem; // 20px
            letter-spacing: 1.063rem; //17px
            animation: moveInLeft 1s ease-in-out;
        }
    }

    
}