.section-about{
    background-color: $color-grey-light-1;
    padding: 15.625rem; //250px
    margin-top: -12.5rem; //-200px
}

.section-feature{
    padding: 12.5rem 0; //200px
    background-image: linear-gradient(135deg,$color-primary-light-opc,$color-primary-dark-opc),
    url("../images/nat-4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transform: skewY(-7deg);
    margin-top: -6.25rem; // -100px


    & > *{
        transform: skewY(7deg);
    }

}

.section-tours{
    padding: 15.625rem 0 9.375rem; //250px 150px
    background-color: $color-grey-light-1;
    margin-top: -6.25rem; // -100px
}

.section-stories{
    padding: 9.375rem 0;// 150px
   position: relative;
}

.section-book{
    padding: 9.375rem 0;// 150px
    @include lg(to right,$color-primary-light,$color-primary-dark);

}